html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#sketch-container{
  width: 100%;
}

#gui-container{
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 100;
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: rgb(255,255,255,0.7);
  transform: translate(-50%);
}

.button{
  background-color: black;
  border: solid 1px rgb(245, 215, 90);
  border-radius: 10px;
  color: rgb(245, 215, 90);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin:0 auto;
  font-size: 16px;
  min-width: 200px;
  cursor: default;
}


.button:hover{
  background-color: rgb(245, 215, 90);
  color: black;
}

.button.wait{
  cursor: progress;
}

.button.wait:hover{
  cursor: progress;
}
